@{
    ViewBag.Title = "nikhil";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provfruyfjgide additional information.</p>
this is the change
new changegdetydhgfjfjj
nikkkkkkkkkkkkkkkkkkkkkkkkk

new git change
new jenkin change
new jenk change

hook change
